---
import Icon from "@skele/components/elements/icon/icon.astro";
import Paragraph from "@skele/components/elements/paragraph/paragraph.astro";
import clsx from "clsx";

const {
  items,
  item_gap = "sm",
  direction = "vertical",
  alignment = "start",
  size = "md",
  icon_gap = "sm",
  icon_color = "font-color",
  icon_background = "none",
  class: className,
  ...restProps
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(restProps).filter(([key]) => !key.startsWith("_"))
);

const classNames = clsx(
  "list",
  `gap-${item_gap}`,
  `direction-${direction}`,
  `alignment-${alignment}`,
  className
);
const itemClassNames = clsx("item", `gap-${icon_gap}`);
---

<ul class:list={classNames} {...htmlAttributes}>
  {
    items.map((item: any) => {
      return (
        <li class:list={itemClassNames}>
          <Icon name={item.icon} size={size} background={icon_background} />
          <Paragraph text={item.text} size={size} align={alignment} class="list-item-text" />
        </li>
      );
    })
  }
</ul>

<style>
  .list {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    &.gap-xs {
      gap: var(--space-xs);
    }
    &.gap-sm {
      gap: var(--space-sm);
    }
    &.gap-md {
      gap: var(--space-md);
    }
    &.gap-lg {
      gap: var(--space-lg);
    }
    &.gap-xl {
      gap: var(--space-xl);
    }
    &.gap-2xl {
      gap: var(--space-2xl);
    }

    &.direction-horizontal {
      flex-direction: row;
    }

    &.alignment-end {
      align-items: end;
      justify-content: end;
    }
    &.alignment-center {
      align-items: center;
      justify-content: center;
    }
  }

  .item {
    align-items: start;
    display: flex;
    gap: 0;

    &.gap-xs {
      gap: var(--space-xs);
    }
    &.gap-sm {
      gap: var(--space-sm);
    }
    &.gap-md {
      gap: var(--space-md);
    }
    &.gap-lg {
      gap: var(--space-lg);
    }
    &.gap-xl {
      gap: var(--space-xl);
    }
    &.gap-2xl {
      gap: var(--space-2xl);
    }
  }

  .list-item-text {
    display: inline;
    margin: 0;
  }
</style>
