---
import { getCollection } from 'astro:content';
import FestivalCard from "../components/building-blocks/FestivalCard.astro"; 

import HeroSplit from "../components/page-sections/heroes/hero-split/HeroSplit.astro"; 

const pageSections = [
  {
    _component: 'page-sections/hero-split',
    title: 'Explore the Pasifika Festivals Network',
    subtitle: 'Connecting communities across Aotearoa.'
  }
];

const allFestivals = await getCollection('festivals');
const sortedFestivals = allFestivals.sort((a, b) => 
  a.data.title.localeCompare(b.data.title)
);
---

<main class="page-container">
    
    <div data-cms-content-wrapper="true" data-prop="pageSections" data-editable="array" class="page-sections-wrapper">
        {pageSections.map((block) => {
            
            if (block._component === 'page-sections/hero-split') {
                return (
                    <HeroSplit title={block.title} subtitle={block.subtitle} />
                );
            }
            
        })}
    </div>
    
    <h1>All Pasifika Festivals</h1>
    
    {sortedFestivals.length === 0 && <p>No festivals have been added yet!</p>}

    <section class="festivals-grid">
        {sortedFestivals.map(festival => (
            <FestivalCard
                title={festival.data.title}
                location={festival.data.location}
                festival_dates={festival.data.festival_dates}
                website={festival.data.website}
                featured_image={festival.data.featured_image}
                region={festival.data.region}
                summary={festival.data.summary}
                link={`/festivals/${festival.slug}`} 
            />
        ))}
    </section>
</main> 
